@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --black: #000;
    --red: #C6061F;
    --redHover: #d82b42;
    --bg: #fafafa;
    --mainColor: #fff;
    --gray: #49454F;
    --white: #fff;
    --lightGray: #ebebeb;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

a:visited, a:link {
    transition: .3s;
    color: var(--black);
}

a:visited:hover, a:link:hover {
    color: var(--gray);
}

.display_none {
    display: none;
}

/* Button search */

.btn-circle {
    height: 48px;
    width: 48px;
    position: relative;
    border-radius: 50%;
    transition: .3s;
    
}

.btn-circle:hover {
    
}

.search-icon::after {
    position: absolute;
    right: 14px;
    bottom: 14px;
    height: 18px;
    width: 18px;
    content: "";
    background-image: url('../img/icons/search.svg');
    fill: var(--black);
}

.back-icon::after {
    position: absolute;
    right: 14px;
    bottom: 14px;
    height: 16px;
    width: 16px;
    content: "";
    background-image: url('../img/icons/back.svg');
    fill: var(--black);
}

/* Button */

.btn {
    
    text-align: center;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    background-color: var(--lightGray);
    color: var(--black);
}

.btn:hover {
    background-color: var(--white);
}

.btn-red {
    background-color: var(--red);
    color: var(--white)!important;
}

.btn-red:hover {
    background-color: var(--redHover);
}

/* Text */

.title {
    color: var(--red);
    font-size: 22px;
    line-height: calc(28/22);
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: calc(24/16);
}

h3 {
    font-size: 16px;
    line-height: calc(24/16);
    font-weight: 700;
}

.home-p{
    margin-bottom: 32px;
}

