.row__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    margin-bottom: 8px;
}

.card {
    position: relative;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    background-color: var(--mainColor);
    transition: .3s;
}

.card__title {
    font-size: 16px;
    line-height: calc(24/16);
    font-weight: 700;
    text-align: left;
    padding-bottom: 16px;
}

.card__muted {
    font-size: 16px;
}

.card__img {
    margin-bottom: 32px;
    border-radius: 8px;
}

.card__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 16px;
    align-items: flex-start;
    margin-bottom: 32px;
}

.card__imgLogo {
    max-width: 50%;
}

.card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 16px;
    align-items: left;
    text-align: left;
}

.card__btn-sector {
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: center;
}

.brand__nav {
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.brand__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.brand__title__img {
    max-width: 20%;
    height: 16px;
}

.brandPhoto {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 32px;
}

.brand__text {
    margin-bottom: 32px;
}

.brand__text-red {
    margin-bottom: 32px;
}