.header-row {
    height: 64px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.title {
    color: var(--red);
    font-size: 22px;
    line-height: calc(28/22);
    font-weight: 700;
}